<!doctype html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    {#    {% block title %}#}
    <title>Document</title>
    {#    {% endblock title %}#}
    {% load static %}

    {% block page-style %}
    {% endblock page-style %}

    <link rel="stylesheet"
          href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css"
          type="text/css"
          media="all"/>

    <!-- iziToast CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.css"
          integrity="sha512-DIW4FkYTOxjCqRt7oS9BFO+nVOwDL4bzukDyDtMO7crjUZhwpyrWBFroq+IqRe6VnJkTpRAS6nhDvf0w+wHmxg=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"/>

    <link rel="shortcut icon" href="{% static 'home/images/favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static 'home/images/apple-touch-icon.png' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css' %}">
    <!-- Site CSS -->
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'home/css/responsive.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'home/css/custom.css' %}">


    <link rel="stylesheet" href="{% static 'base/css/style.css' %}">

    <link rel="stylesheet" href="iziToast.min.css">


    {% load humanize %}

    <!-- Script for search -->
    {#    <script>#}
    {#        $(document).ready(function () {#}
    {#            $("#txtSearch").autocomplete({#}
    {#                source: "{% url 'search' %}",#}
    {#                minLength: 2,#}
    {#                open: function () {#}
    {#                    setTimeout(function () {#}
    {#                        $('.ui-autocomplete').css('z-index', 99);#}
    {#                    }, 0);#}
    {#                }#}
    {#            });#}
    {#        });#}
    {#    </script>#}
</head>
<body>
<!-- Start Main Top -->
<div class="main-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="text-slid-box">
                    <div id="offer-box" class="carouselTicker">
                        <ul class="offer-box">
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="right-phone-box">
                    {#<p>با ما تماس بگیرید :- <a href="#"> +98 912 121 212</a></p>#}
                </div>
                <div class="our-link">
                    <ul>
                        <li><a href="#">ارتباط با ما</a></li>
                        {% if user.is_authenticated %}
                            <li><a href="{% url 'users:logout' %}">خارج شدن از حساب کاربری</a></li>
                            <li><a href="#" dir="rtl">سلام {{ user.email }}</a></li>
                        {% else %}
                            <li><a href="{% url 'users:login' %}">ورود به حساب کاربری</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Main Top -->

<!-- Start Main Top -->
<header class="main-header" dir="rtl">
    <!-- Start Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
        <div class="container">
            <!-- Start Header Navigation -->
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu"
                        aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#"><img src="{% static 'home/images/book_logo.png' %}" class="logo"
                                                      alt=""></a>
            </div>
            <!-- End Header Navigation -->

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-menu">
                <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                    <li class="nav-item active"><a class="nav-link" href="{% url 'home' %}">خانه</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">درباره ما</a></li>
                    <li class="nav-item">
                        <a href="{% url 'book_list' %}" class="nav-link">کتاب
                            ها</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">حساب کاربری v</a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'users:profile' %}">پروفایل</a></li>
                            <li><a href="{% url 'users:password_change' %}">تعویض پسورد</a></li>
                            {% if user.is_superuser %}
                                <li><a href="{% url 'admin_dashboard' %}">داشبورد ادمین</a></li>
                                <li><a href="{% url 'create_code' %}">افزودن تخفیف</a></li>
                            {% endif %}
                            <li><a href="{% url 'users:profile' %}">حساب کاربری</a></li>
                            <li><a href="{% url 'users:user_addresses' %}">مدیریت آدرس ها</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">خرید v</a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'cart' %}">سبد خرید</a></li>
                            <li><a href="{% url 'checkout' %}">نهایی کردن خرید</a></li>
                            <li><a href="{% url 'user_orders' %}">تاریخچه سفارشات</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">دسته بندی ها v</a>
                        <ul class="dropdown-menu">
                            {% for category in all_categories %}
                                <li><a href="{% url 'category' category.id %}">{{ category.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">نویسنده ها v</a>
                        <ul class="dropdown-menu">
                            {% for author in all_authors %}
                                <li><a href="{% url 'author' author.id %}">{{ author.full_name }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->

            <!-- Start Atribute Navigation -->
            <div class="attr-nav">
                <ul>
                    <li class="search"><a href="#"><i class="fa fa-search"></i></a></li>
                    <li class="side-menu"><a href="#">
                        <i class="fa fa-shopping-bag"></i>
                        <span class="badge">{{ cart_items|length }}</span>
                    </a></li>
                </ul>
            </div>
            <!-- End Atribute Navigation -->
        </div>
        <!-- Start Side Menu -->
        <div class="side">
            <a href="#" class="close-side"><i class="fa fa-times"></i></a>
            <li class="cart-box">
                <ul class="cart-list">
                    {% for item in cart_items %}
                        <li>
                            <a href="#" class="photo"><img src="{{ item.item.image.url }}" class="cart-thumb"
                                                           alt=""/></a>
                            <h6><a href="#">{{ item.item.title }}</a></h6>
                            <p>{{ item.quantity }}x - <span
                                    class="price">{{ item.quantity_price|intcomma }}</span></p>
                        </li>
                    {% endfor %}
                    <li class="total">
                        <a href="{% url 'cart' %}" class="btn btn-default hvr-hover btn-cart">سبد خرید</a>
                        <span class="float-right"><strong>جمع</strong>: not set yet</span>
                    </li>
                </ul>
            </li>
        </div>
        <!-- End Side Menu -->
    </nav>
    <!-- End Navigation -->
</header>
<!-- End Main Top -->

<!-- Start Top Search -->
<div class="top-search">
    <div class="container">
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
            {#            <form id=”search” method=”POST” action=”{% url 'search' %}”>#}
            {#                {% csrf_token %}#}
            {#                <input type="text" class="form-control" id="txtSearch" name="txtSearch" placeholder="Search">#}
            {#            </form>#}
            {#            <form action="{% url 'search_results' %}">#}
            {#                <input name="search" type="text" class="form-control" placeholder="Search">#}
            {#            </form>#}
            <div class="ui-widget">
                <input name="search" id="search-space" type="text" class="form-control" placeholder="Search">
            </div>
            <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
        </div>
    </div>
</div>
<!-- End Top Search -->

{% block content %}
{% endblock content %}

<!-- Jquery -->
<script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
<!-- Jquery UI -->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
        integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

<!-- iziToeast -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js"
        integrity="sha512-Zq9o+E00xhhR/7vJ49mxFNJ0KQw1E1TMWkPTxrWcnpfEFDEXgUiwJHIKit93EW/XxE31HSI5GEOW06G6BF1AtA=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>
{#<script src="{% static 'home/js/jquery-3.2.1.min.js' %}"></script>#}
<script src="{% static 'home/js/popper.min.js' %}"></script>
<script src="{% static 'home/js/bootstrap.min.js' %}"></script>
<!-- ALL PLUGINS -->
<script src="{% static 'home/js/jquery.superslides.min.js' %}"></script>
<script src="{% static 'home/js/bootstrap-select.js' %}"></script>
<script src="{% static 'home/js/inewsticker.js' %}"></script>
<script src="{% static 'home/js/bootsnav.js.' %}"></script>
<script src="{% static 'home/js/images-loded.min.js' %}"></script>
<script src="{% static 'home/js/isotope.min.js' %}"></script>
<script src="{% static 'home/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'home/js/baguetteBox.min.js' %}"></script>
<script src="{% static 'home/js/jquery-ui.js' %}"></script>
<script src="{% static 'home/js/jquery.nicescroll.min.js' %}"></script>
<script src="{% static 'home/js/form-validator.min.js' %}"></script>
<script src="{% static 'home/js/contact-form-script.js' %}"></script>
<script src="{% static 'home/js/custom.js' %}"></script>


<!-- This is custom Javascript responsible for autocomplete -->
<script type="text/javascript">
    $(document).ready(function () {
        $("#search-space").autocomplete({
            source: "{% url 'search' %}",
            minLength: 2,
            select: function (event, ui) {
                GetRedirectPage(ui.item.title, ui.item.value);
            }
        });
    });

    function GetRedirectPage(label, slug) {
        window.location.href = "{% url 'search_results' %}" + '?search=' + slug;
    }
</script>

<!-- create a uuid and assign it to device cookie -->
<script type="text/javascript">
    /*
        // Set a Cookie
        function setCookie(cName, cValue, expDays) {
            let date = new Date();
            date.setTime(date.getTime() + (expDays * 24 * 60 * 60 * 1000));
            const expires = "expires=" + date.toUTCString();
            document.cookie = cName + "=" + cValue + "; " + expires + "; path=/";
        }

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            } else {
                console.log('else')
                setCookie('device', uuidv4(), 30);
            }
{#return cookieValue;#}

    }

    function uuidv4() {
        return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
            var r = Math.random() * 16 | 0, v = c === 'x' ? r : (r & 0x3 | 0x8);
            return v.toString(16);
        });
    }

    let device = getCookie('device')
    {#console.log({{ devices }})#}
    console.log(device)


    if (device === null || device === undefined) {
        {#console.log({{ devices }})#}
        device = uuidv4()
    }

    document.cookie = 'device=' + device + ";domain=;path=/"
*/
</script>

{% block script %}
{% endblock script %}
</body>
</html>