{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Start About Page  -->
    <div class="about-box-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-right" dir="rtl">
                    <h2 class="noo-sh-title">این جا <span>فروشگاه کتابان</span> است</h2>
                    <p class="text-justify">من کوثر کرباسی، متولد 1375 هستم. لیسانس علوم کامپیوتر و فوق لیسانس داده کاوی دارم
                        این پروژه، یک فروشگاه کتاب است که در آن امکان دیدن لیست کتاب ها، جزئیات کتاب ها، دیدن کتاب ها
                        بر اساس دسته بندی آن ها، دیدن کتاب ها بر اساس نویسنده آن ها، امکان سرچ بر روی
                        کتاب ها و نویسنده ها، امکان لاگین، لاگ اوت، رجیستر، فراموشی رمز عبور، ارسال لینک تعویض رمز
                        توسط ایمیل، در صورت لاگین بود امکان تغییر رمز، دیدن پروفایل، اضافه کردن آدرس، تغییر آدرس،
                        نهایی کردن سفارش، پنل مشتریان، پنل کارمندان، داشبورد ادمین، دیدن چارت های روزانه و کلی، و ...
                        می باشد.
                    </p>
                </div>
                <div class="col-lg-6">
                    <div class="banner-frame"><img class="img-thumbnail img-fluid"
                                                   src="{% static 'home/images/all-bg-title.jpg' %}" alt=""/>
                    </div>
                </div>
            </div>
            <div class="row my-5">
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>مکتب شریف</h3>
                        <p>گذراندن دوره پایتون-جنگو در مکتب شریف</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- End About Page -->
{% endblock content %}