{% extends 'base.html' %}
{% load static %}

{% block css %}
{% endblock css %}

{% block content %}
    <!-- Start Slider -->
    <div id="slides-shop" class="cover-slides">
        <ul class="slides-container">
            <li class="text-right">
                <img src="{% static 'home/images/library-events-9-msg.jpg' %}" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>به فروشگاه کتابان <br> خوش آمدید</strong></h1>
                            <p><a class="btn hvr-hover" href="{% url 'book_list' %}">لیست کتاب ها</a></p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="text-center">
                <img src="{% static 'home/images/slider_2.jpg' %}" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>به فروشگاه کتابان <br> خوش آمدید</strong></h1>
                            <p><a class="btn hvr-hover" href="{% url 'book_list' %}">لیست کتاب ها</a></p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="text-left">
                <img src="{% static 'home/images/slider-image-1-1920x700.jpg' %}" alt="slider image 1">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>به فروشگاه کتابان <br> خوش آمدید</strong></h1>
                            <p><a class="btn hvr-hover" href="{% url 'book_list' %}">لیست کتاب ها</a></p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="slides-navigation">
            <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
            <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
        </div>
    </div>
    <!-- End Slider -->

    <!-- Start Categories  -->
    {#    <div class="categories-shop">#}
    {#        <div class="container">#}
    {#            <div class="row">#}
    {#                <div class="col-lg-12">#}
    {#                    <div class="title-all text-center">#}
    {#                        <h1>دسته بندی ها</h1>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#            <div class="row">#}
    {#                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">#}
    {#                    <div class="shop-cat-box">#}
    {#                        <img class="img-fluid" src="images/t-shirts-img.jpg" alt=""/>#}
    {#                        <a class="btn hvr-hover" href="#">{{ all_categories.0 }}</a>#}
    {#                    </div>#}
    {#                    <div class="shop-cat-box">#}
    {#                        <img class="img-fluid" src="images/shirt-img.jpg" alt=""/>#}
    {#                        <a class="btn hvr-hover" href="#">{{ all_categories.1 }}</a>#}
    {#                    </div>#}
    {#                </div>#}
    {#                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">#}
    {#                    <div class="shop-cat-box">#}
    {#                        <img class="img-fluid" src="images/wallet-img.jpg" alt=""/>#}
    {#                        <a class="btn hvr-hover" href="#">{{ all_categories.2 }}</a>#}
    {#                    </div>#}
    {#                    <div class="shop-cat-box">#}
    {#                        <img class="img-fluid" src="images/women-bag-img.jpg" alt=""/>#}
    {#                        <a class="btn hvr-hover" href="#">{{ all_categories.3 }}</a>#}
    {#                    </div>#}
    {#                </div>#}
    {#                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">#}
    {#                    <div class="shop-cat-box">#}
    {#                        <img class="img-fluid" src="images/shoes-img.jpg" alt=""/>#}
    {#                        <a class="btn hvr-hover" href="#">{{ all_categories.4 }}</a>#}
    {#                    </div>#}
    {#                    <div class="shop-cat-box">#}
    {#                        <img class="img-fluid" src="images/women-shoes-img.jpg" alt=""/>#}
    {#                        <a class="btn hvr-hover" href="#">{{ all_categories.5 }}</a>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#            <p class="text-center">#}
    {#                <a class="btn hvr-hover text-light" href="#">همه دسته بندی ها</a>#}
    {#            </p>#}
    {#        </div>#}
    {#    </div>#}
    {#    <!-- End Categories -->#}

    <!-- Start Products  -->
    <div class="products-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-all text-center">
                        <h1>کتاب ها</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="special-menu text-center">
                        <div class="button-group filter-button-group">
                            <button class="active" data-filter="*">همه</button>
                            <button data-filter=".top-featured">جدیدترین ها</button>
                            <button data-filter=".best-seller">پرفروش ترین ها</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row special-list">
                {% for book in best_sellers_books|slice:":4" %}
                    <div class="col-lg-3 col-md-6 special-grid best-seller">
                        <div class="products-single fix">
                            <div class="box-img-hover">
                                {% if book.discount is not None %}
                                    <div class="type-lb">
                                        <p class="sale">تخفیف</p>
                                    </div>
                                {% endif %}
                                <img src="{{ book.image.url }}" class="img-fluid" alt="Image">
                                <div class="mask-icon">
                                    <ul>
                                        <li><a href="{% url 'book_detail' book.id %}" data-toggle="tooltip"
                                               data-placement="right"
                                               title="View"><i
                                                class="fas fa-eye"></i></a></li>
                                        <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i
                                                class="fas fa-sync-alt"></i></a></li>
                                        <li><a href="#" data-toggle="tooltip" data-placement="right"
                                               title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                    </ul>
                                    <a class="cart" href="#">افزودن به سبد خرید</a>
                                </div>
                            </div>
                            <div class="why-text">
                                <h4>{{ book.title }}</h4>
                                <h5>{{ book.price }}</h5>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                {% for book in newest_books|slice:":4" %}
                    <div class="col-lg-3 col-md-6 special-grid top-featured">
                        <div class="products-single fix">
                            <div class="box-img-hover">
                                {% if book.discount is not None %}
                                    <div class="type-lb">
                                        <p class="sale">تخفیف</p>
                                    </div>
                                {% endif %}
                                <img src="{{ book.image.url }}" class="img-fluid" alt="Image">
                                <div class="mask-icon">
                                    <ul>
                                        <li><a href="{{ book.get_absolute_url }}"
                                               data-toggle="tooltip"
                                               data-placement="right"
                                               title="جزئیات"><i class="fas fa-eye"></i></a>
                                        </li>
                                        {% if user.is_superuser or user.is_staff %}
                                            <li><a href="{% url 'book_update' book.pk %}"
                                                   data-toggle="tooltip"
                                                   data-placement="right"
                                                   title="به روز رسانی"><i
                                                class="fas fa-sync-alt"></i></a>
                                        {% endif %}
                                        </li>
                                        <li><a href="#" data-toggle="tooltip"
                                               data-placement="right"
                                               title="Add to Wishlist"><i
                                                class="far fa-heart"></i></a>
                                        </li>
                                    </ul>
                                    <a class="cart" href="{% url 'book_detail' book.id %}">
                                        مشاهده و افزودن به سبد خرید
                                    </a>
                                </div>
                            </div>
                            <div class="why-text">
                                <h4>{{ book.title }}</h4>
                                <h5>{{ book.price }}</h5>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                {% for book in all_books %}
                    <div class="col-lg-3 col-md-6 special-grid">
                        <div class="products-single fix">
                            <div class="box-img-hover">
                                {% if book.discount is not None %}
                                    <div class="type-lb">
                                        <p class="sale">تخفیف</p>
                                    </div>
                                {% endif %}
                                <img src="{{ book.image.url }}" class="img-fluid" alt="Image">
                                <div class="mask-icon">
                                    <ul>
                                        <li><a href="{% url 'book_detail' book.id %}" data-toggle="tooltip"
                                               data-placement="right"
                                               title="View"><i
                                                class="fas fa-eye"></i></a></li>
                                        <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i
                                                class="fas fa-sync-alt"></i></a></li>
                                        <li><a href="#" data-toggle="tooltip" data-placement="right"
                                               title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                    </ul>
                                    <a class="cart" href="#">افزودن به سبد خرید</a>
                                </div>
                            </div>
                            <div class="why-text">
                                <h4>{{ book.title }}</h4>
                                <h5>{{ book.price }}</h5>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- End Products  -->
    <!-- Start Instagram Feed  -->
    <div class="instagram-box">
        <div class="main-instagram owl-carousel owl-theme">
            {% for book in all_books %}
                <div class="item">
                    <div class="ins-inner-box">
                        <img src="{{ book.image.url }}" alt=""/>
                        <div class="hov-in">
                            <a href="{% url 'book_detail' book.id %}"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <!-- End Instagram Feed  -->


    <!-- Start Footer  -->
    <footer>
        <div class="footer-main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-widget text-right" dir="rtl">
                            <h4>درباره کتابان</h4>
                            <p>کتابان یک سایت فروشگاهی کتاب است که قابلیت های بسیار فراوانی دارد. این پروژه با جنگو
                                نوشته شده و در آن از AJAX و Charts استفاده شده است
                            </p>
                            <ul>
                                <li><a href="https://t.me/kosarkarbasi"><i class="fab fa-telegram"
                                                                           aria-hidden="true"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/kosar-karbasi-b20b18217"><i
                                        class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                                <li><a href="https://github.com/kosarkarbasi"><i class="fab fa-github"
                                                                                 aria-hidden="true"></i></a></li>
                                <li><a href="https://wa.me/9211985916"><i class="fab fa-whatsapp"
                                                                          aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-link text-right" dir="rtl">
                            <h4>اطلاعات</h4>
                            <ul>
                                <li><a class="text-right" href="{% url 'about' %}">درباره ما</a></li>
                                <li><a class="text-right" href="{% url 'book_list' %}">لیست کتاب ها</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-link-contact text-right" dir="rtl">
                            <h4>ارتباط با ما</h4>
                            <ul>
                                <li>
                                    <p><i class="fas fa-map-marker-alt"></i>
                                        آدرس: مثلا خیابان انقلاب، روبروی دانشگاه
                                        تهران، فروشگاه کتابان</p>
                                </li>
                                <li>
                                    <p><i class="fas fa-phone-square"></i>تلفن:
                                        <a href="tel:+98-92119865916" dir="ltr">
                                            +098 9211985916
                                        </a></p>
                                </li>
                                <li>
                                    <p><i class="fas fa-envelope"></i>ایمیل: <a href="mailto:kosar.karbasi@yahoo.com">
                                        kosar.karbasi@yahoo.com</a>
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer  -->

    <!-- Start copyright  -->
    <div class="footer-copyright">
        <p class="footer-company">همه حقوق بک اند محفوظ است. &copy; 2021 <a href="#">فروشگاه کتابان</a> نوشته شده توسط :
            <a href="">کوثر کرباسی</a></p>
    </div>
    <!-- End copyright  -->

    <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

{% endblock content %}

{% block script %}
{% endblock script %}