{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block title %}
    <title>افزودن آدرس</title>
{% endblock title %}
{% block content %}
    <section class="p-5 m-5">
        <div class="container text-right mt-2" dir="rtl">
            <div class="text-right">
                {% include 'message.html' %}
            </div>
            <h2 class="badge-success p-2">اضافه کردن آدرس جدید</h2>
            <form class="form-control" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.media.js }}
                {{ form|crispy }}
                <button class="btn btn-success" type="submit">افزودن</button>
            </form>
        </div>
    </section>

{% endblock content %}