{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title>ورود</title>
{% endblock title %}
{% block page-style %}
    <!-- Font Icon -->
    <link rel="stylesheet"
          href="{% static 'users/registration/fonts/material-icon/css/material-design-iconic-font.min.css' %}">
    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'users/registration/css/style.css' %}">
{% endblock page-style %}

{% block content %}
    <section class="sign-in">
        <div class="container">
            <div class="text-right">
                {% include 'message.html' %}
            </div>
            <div class="signin-content">
                <div class="signin-image">
                    <figure><img src="{% static 'users/registration/images/signin-image.jpg' %}" alt="sing up image">
                    </figure>
                    <a href="{% url 'users:register' %}" class="signup-image-link">اکانت ندارید؟</a>
                    <a href="{% url 'users:password_reset' %}" class="signup-image-link">رمز عبور خود را فراموش کرده
                        اید؟</a>
                </div>
                <div class="signin-form">
                    <h2 class="form-title">ورود</h2>
                    <form method="POST" class="register-form" id="login-form">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="email" dir="rtl"><i class="zmdi zmdi-account material-icons-name"></i></label>
                            <input type="text" name="email" id="email" placeholder="ایمیل"/>
                        </div>
                        <div class="form-group">
                            <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                            <input type="password" name="password" id="pass" placeholder="رمز"/>
                        </div>
                        <div class="form-group">
                            <input type="checkbox" name="remember-me" id="remember-me" class="agree-term"/>
                            <label for="remember-me" class="label-agree-term"><span><span></span></span> مرا به خاطر
                                بسپار</label>
                        </div>
                        <div class="form-group form-button">
                            <input type="submit" id="submit_btn" class="form-submit" value="ورود به کتابان"/>
                        </div>
                    </form>
                    <div class="social-login">
                        <span class="social-label">Or login with</span>
                        <ul class="socials">
                            <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                            <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                            <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}

{% block script %}
    <script src="{% static 'users/registration/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'users/registration/js/main.js' %}"></script>
{% endblock script %}