{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_filters %}
{% block title %}
    <title>:)</title>
{% endblock title %}

{% block page-style %}
    <!-- Font Icon -->
    <link rel="stylesheet"
          href="{% static 'users/registration/fonts/material-icon/css/material-design-iconic-font.min.css' %}">
    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'users/registration/css/style.css' %}">
{% endblock page-style %}

{% block content %}
    <section class="signup">
        <div class="container">
            <div class="text-right">
                {% include 'message.html' %}
            </div>
            {% if validlink %}
                <div class="signup-content">
                    <div class="signin-image">
                        <figure><img src="{% static 'users/registration/images/pass_reset.jpg' %}" alt="sing up image">
                        </figure>
                    </div>
                    <div class="signup-form">
                        <h2 class="form-title">تغییر رمز عبور</h2>
                        <form method="post" class="register-form" id="register-form">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="{{ form.new_password1.html_name }}" id="pass"
                                       placeholder="رمز عبور جدید"/>
                            </div>
                            <div class="form-group">
                                <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                                <input type="password" name="{{ form.new_password2.html_name }}" id="re_pass"
                                       placeholder="تکرار رمز عبور جدید"/>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="change-password" id="signup" class="form-submit"
                                       value="تغییر رمز عبور"/>
                            </div>
                        </form>
                    </div>
                </div>
            {% else %}
                <p class="text-right p-5 text-danger" dir="rtl">این لینک منقضی شده است. لطفا دوباره درخواست دهید.</p>
            {% endif %}
        </div>
    </section>
{% endblock content %}

{% block script %}
    <script src="{% static 'users/registration/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'users/registration/js/main.js' %}"></script>
{% endblock script %}