{% autoescape off %}
    شما این ایمیل را به دلیل درخواست بازیابی رمز عبور در سایت فروشگاهی کتابان دریافت کرده اید
{#    You're receiving this email because you requested a password reset for your user account at {{ site_name }}.#}
    لطفا به آدرس زیر رفته و رمز عبور جدید خود را انتخاب کنید
{#    Please go to the following page and choose a new password:#}
    {% block reset_link %}
        {{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}
    {% endblock %}
    ایمیل شما برای تغییر رمز : {{ user.get_username }}

    ممنون که از سایت ما استفاده می کنید

    {{ site_name }} team

{% endautoescape %}