{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% block content %}
    <section class="p-2 m-5">
        <div class="container text-right mt-2" dir="rtl">
            <div class="text-right">
                {% include 'message.html' %}
            </div>
            <h2 class="badge-warning p-2">به روز رسانی کتاب</h2>
            <form class="form-control" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-warning" type="submit">به روز رسانی</button>
            </form>
        </div>
    </section>

{% endblock content %}