{% extends 'base.html' %}
{% load humanize %}
{% block title %}
    <title>سبد خرید</title>
{% endblock title %}
{% block content %}
    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>سبد خرید</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'book_list' %}">کتاب ها</a></li>
                        <li class="breadcrumb-item active">سبد خرید</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start Cart  -->
    <div class="cart-box-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-right">
                        {% include 'message.html' %}
                    </div>
                    <div class="table-main table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>تصویر</th>
                                <th>نام</th>
                                <th>قیمت</th>
                                <th>تخفیف</th>
                                <th>تعداد</th>
                                <th>جمع</th>
                                <th>حذف</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in order.shoppingcart_set.all %}
                                <tr>
                                    <td class="thumbnail-img">
                                        <a href="{% url 'book_detail' item.item.pk %}">
                                            <img class="img-fluid" src="{{ item.item.image.url }}" alt=""/>
                                        </a>
                                    </td>
                                    <td class="name-pr">
                                        <a href="{% url 'book_detail' item.item.pk %}">
                                            {{ item.item.title }}
                                        </a>
                                    </td>
                                    <td class="price-pr" dir="rtl">
                                        <p>{{ item.item.price|intcomma }} ریال</p>
                                    </td>
                                    <td class="price-pr" dir="rtl">
                                        {% if  item.item.discount is not None %}
                                            {% ifequal item.item.discount.type|stringformat:'s' 'Percent' %}
                                                <p>{{ item.discount|intcomma }} درصد</p>
                                            {% else %}
                                                <p>{{ item.item.discount.discount_value|intcomma }} ریال</p>
                                            {% endifequal %}
                                        {% else %}
                                            <p>0</p>
                                        {% endif %}

                                    </td>
                                    <td>
                                        <table>
                                            <tr>
                                                <td>
                                                    <form method="POST" class="form_quantity" id="{{ item.id }}">
                                                        {% csrf_token %}
                                                        <input id="{{ item.id }}" type="submit" value="+"
                                                               quantity="{{ item.quantity }}"
                                                               pk="{{ item.id }}"
                                                               class="quantity{{ item.id }} btn-quantity"
                                                               name="+"/>
                                                        <input type="hidden" name="item_id" value="{{ item.id }}">
                                                        <span id="quantity_count"
                                                              class="quantity_count{{ item.id }}">{{ item.quantity }}</span>
                                                        <input id="{{ item.id }}" type="submit" value="-"
                                                               class="quantity{{ item.id }} btn-quantity"
                                                               name="-"/>
                                                    </form>
                                                </td>
                                            </tr>
                                        </table>

                                    </td>
                                    <td class="total-pr">
                                        <p id="quantity_price{{ item.id }}">{{ item.quantity_price|intcomma }}</p>
                                    </td>
                                    <td class="remove-pr">
                                        <form method="post">
                                            {% csrf_token %}
                                            <a href="{% url 'delete_item' item.pk %}">
                                                <i class="fas fa-times"></i>
                                            </a>
                                        </form>

                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row my-5">
                <div class="col-lg-6 col-sm-6">
                    <div class="coupon-box">

                        <form method="post" action="{% url 'cart' %}" id="code_form">
                            <div class="input-group input-group-sm">
                                {% csrf_token %}
                                <input class="form-control" placeholder="کد تخفیف خود را وارد کنید"
                                       aria-label="Coupon code"
                                       type="text" name="code" id="code">
                                <div class="input-group-append">
                                    <button class="btn btn-theme code_submit" type="submit">کد تخفیف</button>

                                </div>

                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <div class="update-box">
                        <a href="{% url 'book_list' %}"><input value="ادامه خرید" type="submit"></a>
                    </div>
                </div>
            </div>
            <div class="row my-5">
                <div class="col-lg-8 col-sm-12"></div>
                <div class="col-lg-4 col-sm-12">
                    <div class="order-box">
                        <h3 class="text-right">خلاصه سفارش شما</h3>
                        <hr>
                        <div class="d-flex">
                            <h4>جمع کل</h4>
                            <div class="ml-auto font-weight-bold"
                                 id="order_price_with_discount"
                                 dir="rtl">
                                {{ order.total_price_with_discount|intcomma }} ریال

                            </div>
                        </div>
                        <div class="d-flex">
                            <h4>تخفیف</h4>
                            <div class="ml-auto font-weight-bold" dir="rtl" id="total_discount">
                                {{ order.total_discount|intcomma }} ریال
                            </div>
                        </div>
                        <hr class="my-1">
                        <div class="d-flex">
                            <h4>کد تخفیف</h4>
                            <div class="ml-auto font-weight-bold" id="discount_value">{{ order.code.discount_value }}%
                            </div>
                        </div>
                        <div class="d-flex">
                            <h4>هزینه ارسال</h4>
                            {% if order.total_price_with_discount > 1000000 %}
                                <div class="ml-auto font-weight-bold"> رایگان</div>
                            {% else %}
                                <div class="ml-auto font-weight-bold" dir="rtl">{{ 250000|intcomma }} ریال</div>
                            {% endif %}
                        </div>
                        <hr>
                        <div class="d-flex gr-total">
                            <h5>جمع کل</h5>
                            <div class="ml-auto h5" dir="rtl" id="price_with_code">{{ price_with_code|intcomma }}
                                ریال
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
                <div class="col-12 d-flex shopping-box"><a href="{% url 'checkout' %}"
                                                           class="ml-auto btn hvr-hover">ثبت و پرداخت</a></div>
            </div>

        </div>
    </div>
    <!-- End Cart -->
{% endblock content %}

{% block script %}

    <script>
        $(document).ready(function () {
            var buttonText;
            {#$(".form_quantity").click(function (e) {#}
            $(".btn-quantity").click(function (e) {
                e.preventDefault()
                const item_id = $(this).attr('id')
                buttonText = $(this).attr('name')

                let count = $(`.quantity_count${item_id}`).text()
                let quantityPrice = $(`#quantity_price${item_id}`).text();

                $.ajax({
                    type: 'POST',
                    url: "{% url 'cart' %}",
                    data: {
                        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                        'item_id': item_id,
                        'buttonText': buttonText,
                    },
                    success: function (response) {
                        if (response.error_message == null) {
                            $(`.quantity_count${item_id}`).text(response.new_quantity);
                            $(`#quantity_price${item_id}`).text(response.new_quantity_price);
                            $(`#order_price_with_discount`).text(
                                response.order_price_with_discount.toLocaleString() + " ریال"
                            );
                            $(`#total_discount`).text(response.total_discount.toLocaleString() + " ریال")
                            $(`#price_with_code`).text(response.price_with_code.toLocaleString() + " ریال")
                            iziToast.success({
                                title: ':)',
                                message: 'مقادیر با موفیت به روز شدند'
                            });
                        } else {
                            iziToast.error({
                                title: ':(',
                                message: response.error_message
                            });
                        }
                    },
                    error: function (response) {
                        console.log('error', response);
                    }
                })

            })


            {#insert code#}

            $("#code_form").submit(function (e) {

                e.preventDefault(); // avoid to execute the actual submit of the form.

                var form = $(this);
                console.log(form)
                var inputCode = $("#code").val();
                console.log(inputCode)
                var url = form.attr('action');
                console.log(url)

                $.ajax({
                    type: "POST",
                    url: '{% url 'cart' %}',
                    {#data: form.serialize(), // serializes the form's elements.#}
                    data: {
                        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                        code: inputCode
                    },
                    success: function (response) {
                        if (typeof response.error_code === 'undefined' && typeof response.warning_code === 'undefined') {
                            $(`#price_with_code`).text(response.price_with_code.toLocaleString() + " ریال")
                            $(`#discount_value`).text(response.discount_value + " %")

                            iziToast.success({
                                title: ':)',
                                message: response.code_message
                            });
                        } else if (typeof response.error_code !== 'undefined') {
                            iziToast.error({
                                title: ':(',
                                message: response.error_code
                            });
                        } else {
                            iziToast.warning({
                                title: '!',
                                message: response.warning_code
                            });
                        }
                    },
                    error: function (response) {
                        iziToast.error({
                            title: ':(',
                            message: response.error
                        });
                    }
                });


            });
        });

    </script>


{% endblock script %}