{% extends 'base.html' %}
{% load humanize %}
{% block title %}
    <title>نهایی کردن خرید</title>
{% endblock title %}
{% block content %}
    <div class="cart-box-main">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-6 mb-3">
                    <div class="checkout-address">
                        <div class="title-left text-right">
                            <h3>آدرس</h3>
                        </div>
                        <p class="text-right">{{ address }}</p>
                        <hr class="mb-4">
                        <div class="col-12 d-flex shopping-box"><a href="{% url 'users:user_addresses' %}"
                                                                   class="ml-auto btn hvr-hover">اضافه
                            کردن آدرس جدید</a></div>
                        <hr class="mb-4">
                        <div class="title text-right"><span>روش پرداخت</span></div>
                        <div class="d-block my-3 text-right">
                            <div class="custom-control custom-radio">
                                <input id="credit" name="paymentMethod" type="radio" class="custom-control-input"
                                       checked required>
                                <label class="custom-control-label" for="credit">پرداخت الکترونیک</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input id="debit" name="paymentMethod" type="radio" class="custom-control-input"
                                       required>
                                <label class="custom-control-label" for="debit">پرداخت درب منزل</label>
                            </div>
                        </div>
                        <div class="row">
                        </div>
                        <div class="row">
                        </div>
                        <hr class="mb-1">

                    </div>
                </div>
                <div class="col-sm-6 col-lg-6 mb-3">
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <div class="odr-box">
                                <div class="title-left">
                                    <h3 class="text-right">سبد خرید</h3>
                                </div>
                                {% for item in cart_items %}
                                    <div class="rounded p-2 bg-light">
                                        <div class="media mb-2 border-bottom">
                                            <div class="media-body text-right"><a
                                                    href="{% url 'book_detail' item.item.pk %}" class=""
                                                    dir="ltr">کتاب {{ item.item.title }}</a>
                                                <div class="small text-muted">
                                                    قیمت: {{ item.item.calculate_price_after_discount|intcomma }} <span
                                                        class="mx-2">|</span>
                                                    تعداد: {{ item.quantity }}
                                                    <span class="mx-2">|</span> جمع: {{ item.quantity_price|intcomma }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="col-md-12 col-lg-12 mt-3">
                            <div class="order-box">
                                <div class="title-left">
                                    <h3 class="text-right">سفارش شما</h3>
                                </div>
                                <div class="d-flex">
                                    <div class="font-weight-bold">محصول</div>
                                    <div class="ml-auto font-weight-bold">جمع</div>
                                </div>
                                <hr class="my-1">
                                <div class="d-flex">
                                    <h4>جمع کل</h4>
                                    <div class="ml-auto font-weight-bold">{{ order.total_price_without_discount|intcomma }}</div>
                                </div>
                                <div class="d-flex">
                                    <h4>قیمت با تخفیف</h4>
                                    <div class="ml-auto font-weight-bold"
                                         dir="rtl">{{ order.total_price_with_discount|intcomma }}</div>
                                </div>
                                <hr class="my-1">
                                <div class="d-flex">
                                    <h4>مقدار تخفیف کد</h4>
                                    <div class="ml-auto font-weight-bold">{{ discount }} درصد</div>
                                </div>
                                <div class="d-flex">
                                    <h4>هزینه ارسال</h4>
                                    {% if order.total_price_with_discount > 1000000 %}
                                        <div class="ml-auto font-weight-bold"> رایگان</div>
                                    {% else %}
                                        <div class="ml-auto font-weight-bold">{{ 250000|intcomma }} ریال</div>
                                    {% endif %}

                                </div>
                                <hr>
                                <div class="d-flex gr-total">
                                    <h5>قیمت نهایی</h5>
                                    <div class="ml-auto h5">{{ price_with_code|intcomma }} ریال</div>
                                </div>
                                <hr>
                            </div>
                        </div>
                        <div class="col-12 d-flex shopping-box"><a href="{% url 'submit_order' %}"
                                                                   class="ml-auto btn hvr-hover">ثبت سفارش</a></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- End Cart -->
{% endblock content %}