{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% block page-style %}
    <link rel="stylesheet" type="text/css" href="{% static 'orders/order_style.css' %}">

{% endblock page-style %}

{% block title %}
    <title>تاریخچه سفارشات</title>
{% endblock title %}

{% block content %}
    <h2 class="text-right m-5">تاریخچه سفارشات</h2>
    <div class="container-fluid my-5 d-flex justify-content-center">

        {% for orders in order.all %}
            {% if orders.status == 'submit' %}
                <div class="card card-1">
                <div class="card-header bg-white">
                    <div class="media flex-sm-row flex-column-reverse justify-content-between ">
                        <div class="col my-auto">
                            <h4 class="mb-0 text-right" dir="rtl">از خرید شما متشکریم<span
                                    class="change-color">{{ user.email }}</span> !
                            </h4>
                            <p class="mb-4 pt-0 Glasses">فروشگاه کتابان</p>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div class="row justify-content-between mb-3">
                        {% if orders.code %}
                            <div class="col-auto" dir="rtl"><small>کد تخفیف : {{ orders.code }}</small></div>
                        {% endif %}
                    </div>
                    {% for item in orders.order_items %}
                        <div class="row">
                        <div class="col">
                        <div class="card card-2">
                        <div class="card-body">
                        <div class="media">
                            <div class="sq align-self-center "><img
                                    class="img-fluid my-auto align-self-center mr-2 mr-md-4 pl-0 p-0 m-0"
                                    src="{{ item.item.image.url }}" width="135" height="135"/>
                            </div>
                            <div class="media-body my-auto text-right">
                                <div class="row my-auto flex-column flex-md-row">
                                    <div class="col my-auto">
                                        <h6 class="mb-0">{{ item.item.title }}</h6>
                                    </div>
                                    <div class="col my-auto">تعداد: {{ item.quantity }}</div>
                                    <div class="col my-auto">
                                        <h6 class="mb-0">{{ item.quantity_price }}</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <hr class="my-3 ">
                    <div class="row">
                        {#                            <div class="col-md-3 mb-3"><small> Track Order <span><i#}
                        {#                                    class=" ml-2 fa fa-refresh" aria-hidden="true"></i></span></small>#}
                        {#                            </div>#}
                        {#                            <div class="col mt-auto">#}
                        {#                                <div class="progress my-auto">#}
                        {#                                    <div class="progress-bar progress-bar rounded" style="width: 62%"#}
                        {#                                         role="progressbar" aria-valuenow="25" aria-valuemin="0"#}
                        {#                                         aria-valuemax="100"></div>#}
                        {#                                </div>#}
                        {#                                <div class="media row justify-content-between ">#}
                        {#                                    <div class="col-auto text-right"><span> <small#}
                        {#                                            class="text-right mr-sm-2"></small> <i#}
                        {#                                            class="fa fa-circle active"></i> </span></div>#}
                        {#                                    <div class="flex-col"><span> <small#}
                        {#                                            class="text-right mr-sm-2">Out for delivary</small><i#}
                        {#                                            class="fa fa-circle active"></i></span></div>#}
                        {#                                    <div class="col-auto flex-col-auto"><small#}
                        {#                                            class="text-right mr-sm-2">Delivered</small><span> <i#}
                        {#                                            class="fa fa-circle"></i></span></div>#}
                        {#                                </div>#}
                        {#                            </div>#}
                    </div>
                    </div>
                    </div>
                    </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col">
                            <div class="row justify-content-between">
                                <div class="col-lg-12">
                                    <div class="table-responsive">
                                        <table class="table" dir="rtl">
                                            <thead>
                                            <tr>
                                                <th>جزئیات سفارش</th>
                                                <th>جمع</th>
                                                <th>تخفیف</th>
                                                <th>هزینه ارسال</th>
                                                <th>تاریخ سفارش</th>
                                                <th>شماره سفارش</th>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td></td>
                                                <td>{{ orders.price_with_code|intcomma }}</td>
                                                <td>{{ orders.price_with_code|intcomma }}</td>
                                                <td>{% if order.total_price_with_discount > 1000000 %}
                                                    <p class="mb-1">رایگان</p>
                                                {% else %}
                                                    <p class="mb-1">{{ 250000|intcomma }} ریال</p>
                                                {% endif %}</td>
                                                <td>{{ orders.order_date }}</td>
                                                <td>{{ orders.id }}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="jumbotron-fluid">
                            <div class="row justify-content-between ">
                                <div class="col-auto my-auto ">
                                    <h2 class="mb-0 font-weight-bold">جمع کل</h2>
                                </div>
                                <div class="col-auto my-auto ml-auto">
                                    <h1 class="display-3 ">{{ orders.price_with_code }}</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <hr>
                <br>
            {% endif %}
        {% endfor %}
        <br>
        </div>
        <br>

{% endblock content %}